In [48]:
# imports here
import pandas as pd
import csv

In [25]:
# paths here

file = "GenAI_Side_Mission_Dataset.csv"

In [49]:
# reading the data

df = pd.read_csv(file)
print(df.to_string())

row_count = len(df)
print(row_count)

# row_count = df.shape[0]
# print(row_count)

                  Name Class Roll No Claimed  Reactions
0          Amitava Das    CSE2022084       5          7
1   Rounak Chakraborty    CSE2022071       1          2
2        Mayukh Halder    CSE2022096      20          3
3          Ankan Ghosh    CSE2022085       3          4
4            Kalpa Das    CSE2022112       1          4
5          Hirak Sabui    ECE2022029    Some          7
6   Swarnava Mukherjee    CSE2022067       2          3
7        Priyanshu Roy    CSE2023188       2          3
8         Subhajit Bag    CSE2022066       2          4
9       Anushka Dutta     CSE2022070       1          2
10  Soumya Chakraborty     IT2022006       3          3
11   Swapnadeep Podder     IT2022116       5          0
12

In [50]:
# cleaning data

df['Claimed'] = pd.to_numeric(df['Claimed'], errors='coerce')
df = df.dropna(subset=['Claimed'])
df = df.reset_index(drop=True)

print(df.to_string())
row_count = len(df)
print(row_count)

                  Name Class Roll No  Claimed  Reactions
0          Amitava Das    CSE2022084      5.0          7
1   Rounak Chakraborty    CSE2022071      1.0          2
2        Mayukh Halder    CSE2022096     20.0          3
3          Ankan Ghosh    CSE2022085      3.0          4
4            Kalpa Das    CSE2022112      1.0          4
5   Swarnava Mukherjee    CSE2022067      2.0          3
6        Priyanshu Roy    CSE2023188      2.0          3
7         Subhajit Bag    CSE2022066      2.0          4
8       Anushka Dutta     CSE2022070      1.0          2
9   Soumya Chakraborty     IT2022006      3.0          3
10   Swapnadeep Podder     IT2022116      5.0          0
11

In [51]:
# remove ppl who got less than claimed

df['Claimed'] = pd.to_numeric(df['Claimed'], errors='coerce')
df['Reactions'] = pd.to_numeric(df['Reactions'], errors='coerce')

df_filtered = df[df['Claimed'] <= df['Reactions']]

print(df_filtered)
print(len(df_filtered))

                 Name Class Roll No  Claimed  Reactions
0         Amitava Das    CSE2022084      5.0          7
1  Rounak Chakraborty    CSE2022071      1.0          2
3         Ankan Ghosh    CSE2022085      3.0          4
4           Kalpa Das    CSE2022112      1.0          4
5  Swarnava Mukherjee    CSE2022067      2.0          3
6       Priyanshu Roy    CSE2023188      2.0          3
7        Subhajit Bag    CSE2022066      2.0          4
8      Anushka Dutta     CSE2022070      1.0          2
9  Soumya Chakraborty     IT2022006      3.0          3
9

In [52]:
# finding differnece 

df_filtered['Difference'] = df_filtered['Reactions'] - df_filtered['Claimed']

df_filtered = df_filtered.reset_index(drop=True)
print(df_filtered)

                 Name Class Roll No  Claimed  Reactions  Difference
0         Amitava Das    CSE2022084      5.0          7         2.0
1  Rounak Chakraborty    CSE2022071      1.0          2         1.0
2         Ankan Ghosh    CSE2022085      3.0          4         1.0
3           Kalpa Das    CSE2022112      1.0          4         3.0
4  Swarnava Mukherjee    CSE2022067      2.0          3         1.0
5       Priyanshu Roy    CSE2023188      2.0          3         1.0
6        Subhajit Bag    CSE2022066      2.0          4         2.0
7      Anushka Dutta     CSE2022070      1.0          2         1.0
8  Soumya Chakraborty     IT2022006      3.0          3         0.0

C:\Users\Nasiruddin\AppData\Local\Temp\ipykernel_22008\3024769318.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Difference'] = df_filtered['Reactions'] - df_filtered['Claimed']

In [53]:
# avoiding warning 

df_filtered.loc[:, 'Difference'] = df_filtered['Reactions'] - df_filtered['Claimed']
df_filtered = df_filtered.reset_index(drop=True)

print(df_filtered)
print(len(df_filtered))

                 Name Class Roll No  Claimed  Reactions  Difference
0         Amitava Das    CSE2022084      5.0          7         2.0
1  Rounak Chakraborty    CSE2022071      1.0          2         1.0
2         Ankan Ghosh    CSE2022085      3.0          4         1.0
3           Kalpa Das    CSE2022112      1.0          4         3.0
4  Swarnava Mukherjee    CSE2022067      2.0          3         1.0
5       Priyanshu Roy    CSE2023188      2.0          3         1.0
6        Subhajit Bag    CSE2022066      2.0          4         2.0
7      Anushka Dutta     CSE2022070      1.0          2         1.0
8  Soumya Chakraborty     IT2022006      3.0          3         0.0
9

In [54]:
# percentage of ppl helped over claimed

df_filtered['Percentage'] = (df_filtered['Difference'] / df_filtered['Claimed']) * 100

print(df_filtered)

                 Name Class Roll No  Claimed  Reactions  Difference  \
0         Amitava Das    CSE2022084      5.0          7         2.0
1  Rounak Chakraborty    CSE2022071      1.0          2         1.0
2         Ankan Ghosh    CSE2022085      3.0          4         1.0
3           Kalpa Das    CSE2022112      1.0          4         3.0
4  Swarnava Mukherjee    CSE2022067      2.0          3         1.0
5       Priyanshu Roy    CSE2023188      2.0          3         1.0
6        Subhajit Bag    CSE2022066      2.0          4         2.0
7      Anushka Dutta     CSE2022070      1.0          2         1.0
8  Soumya Chakraborty     IT2022006      3.0          3         0.0

   Percentage
0   40.000000
1  100.000000
2   33.333333
3  300.000000
4   50.000000
5   50.000000
6  100.000000
7  100.000000
8    0.000000

In [55]:
# person with highest percentage over claimed

person_with_highest_percentage = df_filtered[df_filtered['Percentage'] == df_filtered['Percentage'].max()]
print(person_with_highest_percentage)

        Name Class Roll No  Claimed  Reactions  Difference  Percentage
3  Kalpa Das    CSE2022112      1.0          4         3.0       300.0

In [56]:
# percentage of ppl helped over reacted

df_filtered['Percentage'] = (df_filtered['Difference'] / df_filtered['Reactions']) * 100

print(df_filtered)

                 Name Class Roll No  Claimed  Reactions  Difference  \
0         Amitava Das    CSE2022084      5.0          7         2.0
1  Rounak Chakraborty    CSE2022071      1.0          2         1.0
2         Ankan Ghosh    CSE2022085      3.0          4         1.0
3           Kalpa Das    CSE2022112      1.0          4         3.0
4  Swarnava Mukherjee    CSE2022067      2.0          3         1.0
5       Priyanshu Roy    CSE2023188      2.0          3         1.0
6        Subhajit Bag    CSE2022066      2.0          4         2.0
7      Anushka Dutta     CSE2022070      1.0          2         1.0
8  Soumya Chakraborty     IT2022006      3.0          3         0.0

   Percentage
0   28.571429
1   50.000000
2   25.000000
3   75.000000
4   33.333333
5   33.333333
6   50.000000
7   50.000000
8    0.000000

In [57]:
# person with highest percentage over reactions

person_with_highest_percentage = df_filtered[df_filtered['Percentage'] == df_filtered['Percentage'].max()]
print(person_with_highest_percentage)

        Name Class Roll No  Claimed  Reactions  Difference  Percentage
3  Kalpa Das    CSE2022112      1.0          4         3.0        75.0